.App {
  font-family: sans-serif;
  text-align: center;
}
.date-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 25px;
  margin: 30px;
}
.buttons {
  margin: 5px;
}
